body {
    background-image: url(./gazou/cb31ff8cef716f492d72ea1f9fee3cb6_409014312065173831.jpg);
    background-repeat: no-repeat;
    /* width: 100%;
    height: 100%; */
}

h1 {
    color: aliceblue;
    text-align: center;
    margin: 100px 10px 10px 47rem;
    width: 500px;
    height: 50px;
    border: 30px;
}

p {
  background-color: aquamarine;
  width: 40rem;
  height: 3rem;
  border-radius: 50px;
  margin: 40px 0px 40px 29rem;
  font-size: 30px;
  text-align: center;
}

button {
    background-color: rgb(125, 231, 231);
    font-size: 160%;
    width: 400px;
    height: 75px;
    border-radius: 50px;
    margin: 112px 72px 9px 416px;
}

button:hover {
  background-color: rgb(170, 240, 240);
}

.result {
  width: 10rem;
  height: 10rem;
  border-radius: 50px;
  margin: 100px 0px 455px 6px;
  font-size: 2rem;
  text-align: center;
}

.taip {
  font-size: 2rem;
  width: auto;
  height: auto;
  margin: 33px -90rem 70px 4px;
  text-align: center;
}
.setu {
  background-color: aquamarine;
  width: auto;
  height: auto;
  margin: 3rem 32rem;
}

h2 {
  color: rgb(22, 10, 10);
  font-size: 3rem;
}

.return {
  background-color: aqua;
  font-size: 2rem;
  width: 8rem;
  height: 3rem;
  margin: 50px 50px 50px 45rem;
  
}